<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
	</compilation>
	  <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
  <system.webServer>
    <modules>
      <add name="EOWebRuntime" type="EO.Web.Runtime,EO.Web" />
    </modules>
  </system.webServer>
	<appSettings>
		<add key="DatabaseConnection" value="Persist Security Info=False;User ID=sa; Password=Administrator1;Initial Catalog=WebApplication_DoTest;Data Source=.\Sql_2k8R2"/>
    <add key="DatabaseConnection_Cache" value="Persist Security Info=False;User ID=sa; Password=Administrator1;Initial Catalog=WebApplication_DoTest_Cache;Data Source=.\Sql_2k8R2"/>
	</appSettings>
</configuration>
